parameters:
    database_driver: pdo_sqlite
    database_host: 127.0.0.1
    database_port: null
    database_name: data.db3
    database_path: %kernel.root_dir%/data/data.db3
    database_user: ~
    database_password: ~
    mailer_transport: gmail
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    locale: en
    secret: ~
